<section data-ng-controller="CondicionsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Condiciones</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="condicion in condicions" data-ng-href="#!/condicions/{{condicion._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="condicion.created | date:'medium'"></span>
				by
				<span data-ng-bind="condicion.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="condicion.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!condicions.$resolved || condicions.length">
    	No existen Condiciones<a href="/#!/condicions/create">¿Desea cargar una</a>?
    </div>
</section>